.productContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--bg-light-color);
    padding:var(--content-padding);
    margin: 0;
    width: 94%;
}
.productContainer .top{
    display: flex;
    flex-direction: row;
    height: auto;
}
.productContainer .top .image{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    flex-grow: 3;
    border: none;
}
.productContainer .top .data{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
}
.productContainer .bottom{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
}
.productContainer .bottom p{
    display: flex;
    flex-direction: row;
    font-size: var(--font-small);
    color: var(--grey-light-color);
}
.productContainer .bottom h2{
    display: flex;
    flex-direction: row;
    font-size: var(--font-large);
    color: var(--black-dark-color);
}
.productContainer .price{
    font-size: var(--font-large);
    font-weight: normal;
    flex-direction: row;
    display: flex;
    margin-top: var(--divider-big);
    margin-bottom: var(--divider-big);
}
.productContainer .title{
    font-size: var(--font-big);
    font-weight: normal;
    flex-direction: row;
    display: flex;
}
.productContainer .info{
    font-size: var(--font-small);
    font-weight: normal;
    flex-direction: row;
    display: flex;
    margin-bottom: var(--divider-small);
}

.productContainer .button{
    flex-direction: row;
    display: flex;
    height: 50px;
    width: 120px;
    background-color: var(--blue-sky-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: var(--bg-light-color);
    font-size: var(--font-big);
    text-align: center;
}
