.item{
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-light-color);
    padding:var(--content-padding);
    margin: 0;
    width: 94%;
    border-bottom: 1px solid var(--bg-color);
}
.item .image{
    flex-direction: column;
    border-radius: 4px;
    width: 180px;
    height: 180px;
    margin: var(--divider-small);
}
.item .data{
    flex: 1;
    flex-direction: column;
}
.item .dataExtra{
    flex: 1 1;
    flex-direction: column;
}
.item .freeShipping{
    border: transparent !important;
    width: 18px;
    height: 18px;
    flex-direction: column;
    background-image: url("../../assets/ic_shipping.png");
    background-repeat: no-repeat;
}