.searchContainer{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--header-bg-color);
    height: var(--header-height);
    padding:var(--content-padding);
    padding-top: 20px;
    margin: 0;
}
.searchContainer .logo{
    border: transparent !important;
    width: 55px;
    height: auto;
    flex-direction: column;
    background-image: url("../../assets/Logo_ML.png");
    background-repeat: no-repeat;
    background-position-y: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.searchContainer .field{
    flex-direction: column;
    height: 33px;
    display: flex;
    flex-grow: 8;
    border: none;
    padding: 5px;
    font-size: var(--font-big);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.searchContainer .button{
    flex-direction: column;
    height: 43px;
    width: 40px;
    background-image: url("../../assets/ic_Search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor: pointer;
}

