/* CSS VARIABLES */

:root {
	
	--header-height: 64px;
	--bg-color: #EEEEEE;
	--bg-light-color: #FFFFFF;
	--header-bg-color: #FFE600;
	--content-padding:  0 2% 0 2%;

	--black-dark-color:#333333;
	--grey-dark-color:#666666;
	--grey-light-color:#999999;
	--blue-sky-color:#3483FA;

	--font-small:12px;
	--font-mid-x1:14px;
	--font-mid-x2:16px;
	--font-big:18px;
	--font-large:24px;
	--font-larger:28px;
	--font-extra-large:46px;

	--divider-small:16px;
	--divider-big:32px;

}

html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	overflow-y: scroll;
}
.hidden{
	display: none;
}
.visible{
	display: block;
}