.pager{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-light-color);
    margin: 0;
    color: var(--black-dark-color);
    height: 50px;
    vertical-align: top;
    font-size: var(--font-mid-x1);
    margin-top: var(--divider-big);
}
.pager .inline{
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    align-items: center;
    justify-content: center;
}
.pager .inline span{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.pager .prev{
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

}
.pager .next{
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

}